/* moves the buttons in the navbar to the right */
.navbar-nav.ml-auto {
  margin-left: auto;
}

/* bolds the buttons in the navbar and takes away background color */
.navbar .nav-link {
  background-color: transparent;
  font-weight: bold;
}

/* changes the background of the dropdown items in the navbar to orange when hovering over it */
.navbar .dropdown-menu .dropdown-item:hover {
  background-color: orange;
}

/* makes the dropdown menu appear when hovering over the "Shop" button. */
.navbar .dropdown:hover .dropdown-menu {
  display: block;
}

/* sets the dropdown menu to initially be hidden. */
.navbar .dropdown-menu {
  display: none;
}

/* targets grid row to add spacing between elements */
.custom-grid-row > [class^="col-"] {
  margin: 10px;
}

/* puts the image and text on the same line */
.item-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

/* sizes the image in the shopping cart */
.item-image {
  width: 60px;
  height: 50px;
  margin-right: 10px;
}

.item-text {
  flex: 1;
}

/* "x2", "x3", and so on will be displayed in yellow color in the shopping cart. */
.text-yellow {
  color: yellow;
}

.form-select {
  width: 40% !important;
  max-width: 40% !important;
}

.circle-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  background-color: red;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 24px;
  z-index: 9999;
}

/* Updated styles for footer */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
}

.footer {
  background-color: #f5f5f5;
  padding: 40px 0;
  margin-top: auto;
}

.footer-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-column {
  flex-basis: 25%;
  margin-bottom: 30px;
  margin-right: 10px;
}

.footer h3 {
  color: #333;
  text-align: center;
}

.footer p {
  color: #777;
  line-height: 24px;
}

.footer ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.footer ul li a {
  color: #777;
  text-decoration: none;
}

.bottom-bar {
  background-color: #333;
  padding: 10px 0;
  color: #fff;
  text-align: center;
}

.bottom-bar p {
  margin: 0;
}

.bottom-bar a {
  color: #fff;
  text-decoration: underline;
}

.social-icons {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.social-icons li {
  display: inline-block;
  margin-right: 10px;
}

.social-icons li:last-child {
  margin-right: 0;
}

.social-icons a {
  color: #333;
}

.social-icons a:hover {
  color: #777;
}

/* centers otherwise non-centered grid items */
@media (max-width: 767px) {
  .custom-grid-row {
    justify-content: center;
  }
}
